<ion-toolbar class="toolbarGlobal">
  <ion-title class="textHeader">
    Agencies -<b class="colorG">Peru</b>
  </ion-title>
</ion-toolbar>
<ion-content [fullscreen]="true">

  <app-list-agencies [listAgencies]="listAgencies" (emitAgency)="goToDetailAgency($event)"></app-list-agencies>

</ion-content>