<ion-card>
  <ion-card-content>
    <form padding [formGroup]="formAgency">
      <ion-item>
        <ion-label position="floating">Agency </ion-label>
        <ion-input type="text" formControlName="agency" [(ngModel)]="objAgency.agency"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Department</ion-label>
        <ion-input type="text" formControlName="department" [(ngModel)]="objAgency.department"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">District</ion-label>
        <ion-input type="text" formControlName="district" [(ngModel)]="objAgency.district"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-input type="text" formControlName="address" [(ngModel)]="objAgency.address"></ion-input>
      </ion-item>
      <ion-button expand="block" [disabled]="formAgency.invalid" color="success" (click)="updateAgency()">Update Agency
      </ion-button>
    </form>
  </ion-card-content>
</ion-card>