<ion-tabs>
  <ion-tab-bar slot="bottom" class="tabBar">
    <ion-tab-button tab="tab-home">
      <ion-icon size="small" name="home-outline"></ion-icon>
      <ion-label>Agencies</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tab-history">
      <ion-icon size="small" name="cart-outline"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button> -->

    <ion-tab-button (click)= "goToLinkedin()">
      <ion-icon size="small" name="settings-outline"></ion-icon>
      <ion-label>Follow me</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>