<ion-header>

  <ion-toolbar class="toolbarGlobal">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title class="textHeader">
      AGENCY-<b class="colorG">DETAIL</b>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <div class="segmentContent">
      <div>
        Update Agency
        <div class="border"></div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <app-form-save [agency]="agency"></app-form-save>
        <div #map id="map"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>