<ion-grid>
  <ion-row>
    <ion-col size-md="6" offset-md="3">
      <ion-card *ngFor="let agency of listAgencies">
        <ion-item>
          <ion-icon name="arrow-forward-outline" slot="end" (click)="goToDetailAgency(agency)"></ion-icon>
          <ion-label class="textHeader">
            {{agency.department}} - <b class="colorG">{{agency.district}}</b>
          </ion-label>
        </ion-item>
        <ion-card-content>
          <ion-row class="ion-align-items-center ion-justify-content-between">
            <em>Agency :</em>
            <p>{{agency.agency}}</p>
          </ion-row>
          <ion-row class="ion-align-items-center ion-justify-content-between">
            <em>Address : </em>
            <p>{{agency.address}}</p>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-grid>